/* PC and Large Devices */
@media (min-width: 500px)  {
  .card
  {
   /*background-repeat:no-repeat;*/
   min-width:500px;
  }

 .whodat
  {
   height:20%;
   width:20%;
   object-fit:contain;
  }

 .whodat.missingno
 {
  height:50%;
  width:50%;
  object-fit:contain;
 }

 #loading
 {
  background-image: url("https://pre00.deviantart.net/a124/th/pre/f/2018/150/4/c/pokemon_for_switch_by_herobrinehd__nintendo_by_herobrinehd-dccy5dd.png");
 }

 button.btn.btn-info,button.btn.btn-primary,button.btn.btn-dex
 {
  min-width: 40%;
  margin: 0.2%;
 }

 #shiny
 {
  width:5%;
 }
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape)
{

 .card
 {
  /*background-repeat:no-repeat;*/
  min-width:500px;
 }

 .whodat
 {
  height:100%;
  width:100%;
  object-fit:contain;
 }

 #loading
 {
  background-image: url("https://pre00.deviantart.net/a124/th/pre/f/2018/150/4/c/pokemon_for_switch_by_herobrinehd__nintendo_by_herobrinehd-dccy5dd.png");
 }

 button.btn.btn-info,button.btn.btn-primary,button.btn.btn-dex
 {
  min-width: 40%;
  margin: 0.2%;
 }

 #shiny
 {
  width:5%;
 }
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)
{
.card.nor, .card.fir,.card.wat,.card.gra,.card.ele,.card.gra,.card.ice,
.card.fig,.card.poi,.card.gro,.card.fly,.card.psy,.card.bug,.card.roc,.card.gho,
.card.dra,.card.dar,.card.ste,.card.fai{
 margin-bottom:0px;
}

.whodat
  {
   height:100%;
   width:100%;
   object-fit:contain;
  }

 #poketype
 {
  height:100%;
 }

 #loading
 {
  background-image: url("https://vignette.wikia.nocookie.net/pokemongo/images/3/37/Original_loading_screen.png");
 }

 button.btn.btn-info,button.btn.btn-primary,button.btn.btn-dex
 {
  min-width: 80%;
  margin: 0.2%;
 }

 #shiny
 {
  width:10%;
 }
}


/*Global Properties Across Devices*/
button.btn.btn-dex
{
 color: white;
 background-color:#7DD3FF;
 border-color:#7DD3FF;
}

label
{
 color:white;
}

img.mainMenuPhoto
{
 height: 250px;
}

.whodat
{
 max-height:200px;
 margin-top:2.5%;
}

.pokemonOfAType
{
margin-top:0.5%;
}

 hr
 {
  background-color:white;
 }

 body
 {
  background-image:url("../Photos/pika.jpg");
 }

#loading {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

 .SelectType
 {
  background-color:white;
 }

 .splitscreen
 {
  min-width:50%;
  background-color:white;
  opacity:0.8;
  display:block;
  padding:20px;
  margin-bottom:20px;
  text-align:center;
  font-weight:bold;
 }

.active-pink-4 input[type=text]:focus:not([readonly]) {
   border: 1px solid #f48fb1;
   box-shadow: 0 0 0 1px #f48fb1;
}

#poketype
{
 font-size: 20px;
 background-color:white;
 opacity: .8;
 padding:5px;
 text-align:center;
}

#poketype p
{
 margin-bottom: 0;
}

#Not-Effective
{
 color:red;
}

#Super-Effective
{
 color:Black;
}

#No-Effect
{
 color:Grey;
}

#typeIcon
{
 margin-left:30px;
 margin-bottom:4px;
}

.nor
{
background:rgb(182, 182, 168);
}
.fir
{
background:rgb(255, 96, 67);
}
.wat
{
background:rgb(82, 168, 255);
}
.ele
{
background:rgb(255, 211, 82);
}
.gra
{
background:#89D26B;
}
.ice
{
background:#7DD3FF;
}
.fig
{
background:#BB5544;
}
.poi
{
background:#B469A5;
}
.gro
{
background:#E2C56E;
}
.fly
{
background:#9AA8FF;
}
.psy
{
background:#FF6EA8;
}
.bug
{
background:#B4C33C;
}
 .roc
{
background:#C5B67D;
}
.gho
{
background:#7D7DC5;
}
.dra
{
background:#8B7DF0;
}
.dar
{
background:#8B6E60;
}
.ste
{
background:#AAAABB;
}
.fai
{
background:#F0A6F0;
}

.card-text.header
{
background-color:white;
color: black;
opacity: 0.6;
text-size:50px;
margin-bottom:-1px;
}

/*Shiny Pokemon*/
#shiny
{
 display: block;
 margin-left: auto;
 margin-right: auto;
}

/*Team Rocket Gender Icons*/
.genderIcons
{
 width:50px;
}

/*Footer*/
.footer.span
{
 margin-left:5%;
}

.span a
{
 padding-right: 20px;
 border-right: 1px solid #fdfadc;
 display: inline-block;
}

.footerIcon
{
 text-align:center;
}

.footerCard
{
 background-color: transparent;
 border:none;
}

/*Full Pokedex*/
.tinySprite
{
  max-height:50px;
}

.pokedexsearch
{
  margin-top:2%;
}


/*Who's that Pokemon*/
iframe
{
  margin-top: 1%;
  max-width: 100%;
  max-height: 100%;
}
